<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/WesterosSealCircle.png"/>
        <span id="welcomeHeader">BEVENUTO SU AKANDIRR EMPIRE</span>
        <span id="welcomeDescription">Nato sotto i 7 elementi, il Binder (Player) era destinato a mantenere il legame delle anime elementali. Per impedire ad esse di vagare nel mondo furono legate ad un arma e custodite nel tempio di DekaSoul, ma il malvagio Serserius volle impadronirsi delle gemme. Egli era destinato ad essere il Binder delle anime ma dato il peccato della madre fú scomunicato dagli dei e mandato all'esilio, avente il sangue macchiato dal peccato.
Serserius quando provó a impossessarsi delle anime scatenó quella che per molti si trattava della fine del mondo, il tempio esplose e le anime impazzirono e cambiarono forma, trasformandosi in delle creature e generando 7 diversi templi dove risiedevano. Il Binder ora ha lo scopo di raggruppare queste anime e riportarle ai templi. Serserius ormai é considerato morto nell'esplosione.</span>
        <br>
        <span id="welcomeDescCTA">Versione Alpha del Launcher.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUA
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
